@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-backgroud: #fffffe;
  --sidebar-background: #efeff1;
  --content-background: #f7f7f8;
  --important: #6246ea;
  --headline: #2b2c34;
  --paragraph: #2b2c34;
  --link: #6246ea;
  --color-border: 43, 44, 52;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* ダークモード用の設定 */
    --header-backgroud: #000;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* リセット */
body {
  margin: 0;
}

img,
i {
  vertical-align: middle;
}

/* 共通 */

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll; /* スクロールバーを常に表示 */
}

body {
  color: var(--paragraph);
}

h1,
h2,
h3 {
  color: var(--headline);
}

a {
  text-decoration: none;
  color: var(--paragraph);
}

a:hover {
  color: var(--link);
}

/* clear */
.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}
