.playlist {
  display: flex;
  flex-direction: row;
  gap: 20px;

  .banner {
    width: 400px;
  }

  .main {
    padding-right: 50px;

    /* スクロールバーの設定 */
    height: calc(100vh - 112px);
    overflow-y: auto;
  }
}
