.results {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .elementsCount {
    font-size: 20px;

    .number {
      font-weight: bold;
      padding-right: 5px;
    }

    .char {
      letter-spacing: 1px;
    }
  }
}
