.playlist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: var(--background);
  border: 1px solid #cccccc;
  border-radius: 5px;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;

    .playlistName {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 600;
    }

    .favorite {
    }
  }

  .bottom {
    .clips {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
